@model Issues.ViewModels.EditProjectViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home") ">Dashboard</a></li>
    <li><a href="@Url.Action("Index","Projects")">Projects</a></li>
    <li class="active">Edit</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-6 col-sm-6 col-x-12">
        <div class="panel panel-default box-shadow">
            <div class="panel-body">
                <div class="row">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Version)
                    <div class="col-md-12">

                        <div class="form-group">
                            <label>
                                @nameof(Model.Name)
                                <span class="text-danger">*</span>
                            </label>

                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="form-group">
                            <label>
                                @nameof(Model.Description)
                                <span class="text-danger">*</span>
                            </label>

                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="form-group">
                            <label>&nbsp;</label>
                            <input type="submit" value="Save" class="btn btn-primary btn btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}


