@model Issues.Models.Tasks

@{
    ViewBag.Title = "Tasks - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home") ">Dashboard</a></li>
    <li><a href="@Url.Action("Index","Tasks")">Users</a></li>
    <li class="active">Details</li>
</ol>

<div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-6 col-sm-6 col-x-12">
        <div class="panel panel-default box-shadow">
            <div class="panel-heading">
                <h5 class="">
                    &nbsp;
                    <a href="@Url.Action("Delete", new { id=Model.Id})" class="pull-right margin-left-15"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                    <a href="@Url.Action("Edit",new { id = Model.Id })" class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i> Edit </a>
                </h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })

                            <span class="form-control">

                                @Model.Name
                            </span>

                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Statement, htmlAttributes: new { @class = "control-label " })

                            <span class="form-control">

                                @Model.Statement
                            </span>

                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })

                            <span class="form-control">

                                @Model.State
                            </span>

                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DateOfCreate, htmlAttributes: new { @class = "control-label " })

                            <span class="form-control">

                                @Model.DateOfCreate
                            </span>

                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DateOfUpdate, htmlAttributes: new { @class = "control-label " })

                            <span class="form-control">

                                @Model.DateOfUpdate
                            </span>

                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Users, htmlAttributes: new { @class = "control-label " })

                            <span >

                                <b class="badge">@Model.Users.Count()</b> 
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>

    <a href="@Url.Action("Index")"><i class="fa fa-chevron-left font-size-8" aria-hidden="true"></i> Back to List</a>
</p>
