@model IEnumerable<Issues.Models.Tasks>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home") ">Dashboard</a></li>
    <li class="active">Tasks</li>
</ol>

<div class="panel panel-default box-shadow">
    <div class="panel-heading">
        <div class="row">

            <div class="col-md-4 col-sm-3 col-xs-6">
                <h5>

                    <span class="header-title">Tasks </span><span class="badge badge-default">@Model.Count()</span>
                </h5>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                    <ul>
                        <li class="undecided-box"></li>
                        <li class="inprocess-box"></li>
                        <li class="test-box"></li>
                        <li class="faile-box"></li>
                        <li class="success-box"></li>
                        
                    </ul>
               
            </div>
            <div class="col-md-4 col-sm-3 col-xs-6">
                <h5>
                    <a href="@Url.Action("Create")" class="pull-right"><i class="fa fa-plus" aria-hidden="true"></i>  Add task </a>
                </h5>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <div class="nice-col-padding ">
            <div class="show-all" id="taskHolder">


                @foreach (var item in Model) {
                    <div class="col-md-4 col-sm-6 col-xs-12 @item.State.ToString().ToLower() pull-left">
                        <div class="border card ">
                            <div class="text-right margin-bottom-15">
                                <div class="dropdown pull-right">
                                    <i class="fa fa-chevron-down dropdown-toggle dropdown-arrow" id="control-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                                    <ul class="dropdown-menu" aria-labelledby="control-menu">
                                        <li><a class="" href="@Url.Action("Edit", new { id=item.Id })"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
                                        <li><a class="" href="@Url.Action("Details", new { id=item.Id })"><i class="fa fa-list" aria-hidden="true"></i> Details</a></li>
                                        <li><a class="" href="@Url.Action("Delete", new { id=item.Id })"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="small display-block no-margin opacity-8"> @Html.DisplayNameFor(m => m.Name) </label>
                                <span class="">@Html.DisplayFor(m => item.Name)</span>
                            </div>

                            <div class="form-group">
                                <label class="small display-block no-margin opacity-8">@Html.DisplayNameFor(m => m.Statement) </label>
                                <span class="">@Html.DisplayFor(m => item.Statement)</span>
                            </div>

                            <div class="form-group">
                                <label class="small opacity-8 ">@Html.DisplayNameFor(m => m.Users)</label>
                                <span class="badge badge-default">@item.Users.Count()</span>
                            </div>

                        </div>
                    </div>

            }
            </div>
        </div>
    </div>


</div>
