@model IEnumerable<Issues.Models.Tasks>

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home") ">Dashboard</a></li>
    <li class="active">Tasks</li>
</ol>
<div ng-app="tasks">
    <div class="" ng-controller="main">


        <div class="panel panel-default box-shadow">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <h5>
                            <span class="header-title">Tasks </span><span class="badge badge-default">{{tasks.length}}</span>
                        </h5>
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="form-group">

                            <input type="text" value="" class="form-control" ng-model="search.Name" placeholder="@Html.DisplayNameFor(m => m.Name)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="form-group">

                            <input type="text" value="" class="form-control" ng-model="search.Statement" placeholder="@Html.DisplayNameFor(m => m.Statement)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-8">
                        <ul class="padding-top-8 padding-left-0">
                            <li class="all-box" ng-click="search.State = ''"></li>
                            <li class="undecided-box" ng-click="search.State = 'Undecided'"></li>
                            <li class="inprocess-box" ng-click="search.State = 'InProcess'"></li>
                            <li class="test-box" ng-click="search.State = 'Test'"></li>
                            <li class="faile-box" ng-click="search.State = 'Faile'"></li>
                            <li class="success-box" ng-click="search.State = 'Success'"></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-4">
                        <h5>
                            <a href="@Url.Action("Create")" class="pull-right"><i class="fa fa-plus" aria-hidden="true"></i>  Add task </a>
                        </h5>
                    </div>
                </div>
                <div class="row">



                </div>
            </div>
        </div>

        <div class="nice-col-padding ">
            <div class="show-all" id="taskHolder">

                <div ng-repeat="task in tasks  | filter:search" class="col-md-4 col-sm-6 col-xs-12 {{task.State}} pull-left repeated-item">
                    <div class="border card ">
                        <div class="text-right margin-bottom-15 card-button">
                            <div class="dropdown pull-right">
                                <i class="fa fa-chevron-down dropdown-toggle dropdown-arrow" id="control-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                                <ul class="dropdown-menu" aria-labelledby="control-menu">
                                    <li><a class="" href="/Tasks/Edit/{{task.Id}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
                                    <li><a class="" href="/Tasks/Details/{{task.Id}}"><i class="fa fa-list" aria-hidden="true"></i> Details</a></li>
                                    <li><a class="" href="/Tasks/Delete/{{task.Id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>
                            </div>
                            <div class="pull-right card-button" ng-if="task.Statement.length > 50 || true" ng-click="infoBox.show(task.Name,task.Statement)"><i class="fa fa-eye "></i></div>
                        </div>

                        <div class="form-group">
                            <label class="small display-block no-margin opacity-8"> @Html.DisplayNameFor(m => m.Name) </label>
                            <span class="">{{task.Name}}</span>
                        </div>

                        <div class="form-group">
                            <label class="small display-block no-margin opacity-8">@Html.DisplayNameFor(m => m.Statement) </label>
                            <span class="">{{task.Statement | limitTo:50}}{{task.Statement.length > 50 ? '...' : ''}}</span>
                        </div>

                        <div class="form-group">
                            <label class="small opacity-8 ">@Html.DisplayNameFor(m => m.Users)</label>
                            <span class="badge badge-default">{{task.Users}}</span>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <div class="task-info" ng-class="infoBox.showBox" ng-show="infoBox.showBox != ''">
            <div class="info-box position-relative {{infoBox.task.state}}" ng-class="infoBox.showTaskInfo" >
               
                    <i class="fa fa-close fa-2x position-absolute info-close" ng-click="infoBox.hide()"></i>
                
                <div class="form-group">
                    <h3 class="display-block no-margin text-bold"> @Html.DisplayNameFor(m => m.Name) </h3>
                    <h4 class="">{{infoBox.task.name}}</h4>
                </div>

                <div class="form-group">
                    <h3 class="display-block no-margin text-bold">@Html.DisplayNameFor(m => m.Statement) </h3>
                    <h4 class="">{{infoBox.task.statement}}</h4>
                </div>
            </div>
        </div>    

    </div>
</div>


@section scripts {
    <style>
    </style>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script>
        var tasks = angular.module('tasks', ['ngAnimate']);

        tasks.controller('main', ['$scope', '$http', '$log', '$timeout', function ($scope, $http, $log, $timeout) {
            $scope.tasks = [];
            $http({ method: 'GET', url: '/Tasks/TasksList' }).then(function (responde) {
                $scope.tasks = responde.data;
            }, function () {
                console.log(responde); console.log('error');
            });



            var infoBox = {
                showBox: '',
                showTaskInfo:'',
                task: {
                    name: '',
                    statement: '',
                    state:''
                },
                show: function (name, statement,state) {
                    this.showBox = 'show-box';
                    var self = this;
                    $timeout(function () {
                        self.showTaskInfo='show-info'
                    }, 200);
                    this.task.name = name;
                    this.task.statement = statement;
                    this.task.state = state;
                },
                hide: function () {
                    this.showTaskInfo = '';
                    var self = this;
                    $timeout(function () {
                        self.showBox = ''
                    }, 200);
                }
            };
            
            $scope.infoBox = infoBox;
           
        }]);

    </script>
}