@using Issues.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section style {
    <style>


input,
button {
  outline: none !important;
}

input,
button,
.panel {
  border-radius: 2px !important;
}


/* input icon */

.icon-holder {
  position: relative;
}

.icon {
  font-size: 14pt;
  position: absolute;
  top: -15px;
  left: 8px;
  opacity: 0.0;
}

.icon-holder input,
.icon-holder .icon {
  transition: all 0.2s ease-in-out;
}

.icon-holder > input:focus {
  padding-left: 28px !important
}

.icon-holder input:focus + .icon {
  top: 8px;
  opacity: 0.7;
}
label {
  font-weight:normal !important;
}
    .panel-body { 
        background:#fff !important
    }
    </style>
}

<div class="row">


    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        @Html.AntiForgeryToken()

        <div class="col-md-4 col-sm-2"></div>
            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="panel panel-default margin-top-50">
                    <div class="panel-body ">
                        <div class="col-sm-12">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                <div class="icon-holder">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    <i class="fa fa-user icon" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">

                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                <div class="icon-holder">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    <i class="fa fa-lock icon" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Log in" class="btn btn-success btn-block" />

                    </div>
                </div>
                    <p class="text-center">
                        @Html.ActionLink("Create an account.", "Register")
                    </p>
            </div>
            <div class="col-md-4 col-sm-2 "></div>

    }

</div>



