@model IEnumerable<Issues.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home") ">Dashboard</a></li>
    <li class="active">Users</li>
</ol>

<div class="panel panel-default box-shadow">
    <div class="panel-heading">
        <h5 class="">
            <span class="header-title"> Users list </span><span class="badge badge-default">@Model.Count()</span>
            <a href="@Url.Action("Create")" class="pull-right"><i class="fa fa-plus" aria-hidden="true"></i>  Add user </a>
        </h5>
    </div>
    <div class="panel-body">
        <div class="nice-col-padding">
            @foreach (var item in Model) {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="border card">
                        <div class="text-right margin-bottom-15">

                            <div class="dropdown pull-right">
                                <i class="fa fa-chevron-down dropdown-toggle dropdown-arrow" id="control-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>

                                <ul class="dropdown-menu" aria-labelledby="control-menu">
                                    <li><a class="" href="@Url.Action("Edit", new { id=item.Id })"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
                                    <li><a class="" href="@Url.Action("Details", new { id=item.Id })"><i class="fa fa-list" aria-hidden="true"></i> Details</a></li>
                                    <li><a class="" href="@Url.Action("Delete", new { id=item.Id })"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
                                </ul>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="small display-block no-margin opacity-5"> Name </label>
                            <span class="">@Html.DisplayFor(modelItem => item.Profile.FirstName) @Html.DisplayFor(modelItem => item.Profile.LastName)</span>
                        </div>

                        <div class="form-group">
                            <label class="small display-block no-margin opacity-5">@Html.DisplayNameFor(m => m.Email) </label>
                            <span class="">@Html.DisplayFor(modelItem => item.Email)</span>
                        </div>

                        <div class="form-group">
                            <label class="small opacity-5 ">@Html.DisplayNameFor(m =>m.Tasks)</label>
                            <span class="badge badge-default">@item.Tasks.Count()</span>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>


</div>
