<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700" rel="stylesheet">
    
    <link href="@Utility.GetBuildUrl("/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Utility.GetBuildUrl("/Content/app.css")" rel="stylesheet" />
    <link href="@Utility.GetBuildUrl("/Content/bootstrap-overwrite.css")" rel="stylesheet" />
    <link href="@Utility.GetBuildUrl("/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Utility.GetBuildUrl("/Content/builder.css")" rel="stylesheet" />
    <link href="@Utility.GetBuildUrl("/Content/checkbox.css")" rel="stylesheet" />
    <link href="@Utility.GetBuildUrl("/Content/chosen.css")" rel="stylesheet" />

    @RenderSection("style", required: false)
</head>
<body>
    <div class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index","Home")" class="navbar-brand">Issues</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                    <li>@Html.ActionLink("Tasks", "Index", "Tasks")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

    </div>
    <footer>
  
        <div class="container text-center ">

            <p>&copy; @DateTime.Now.Year - Muhammad Khair Albarmawi</p>

       

            <div class="text-center">
                <span><a target="_blank" href="https://www.linkedin.com/in/mbarmawi" class="linkedin"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>  </span>
                <span><a target="_blank" href="http://github.com/mbarmawi/" class="git"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>                  </span>
                <span><a target="_blank" href="http://codepen.io/mbarmawi/" class="codepen"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a>             </span>
            </div>

        </div>

    </footer>

    <script src="@Utility.GetBuildUrl("/Scripts/jquery-3.1.1.min.js")"></script>
    <script src="@Utility.GetBuildUrl("/Scripts/bootstrap.min.js")"></script>
    <script src="@Utility.GetBuildUrl("/Scripts/jquery.validate.js")"></script>
    <script src="@Utility.GetBuildUrl("/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Utility.GetBuildUrl("/Scripts/jquery.nicescroll.min.js")"></script>
    <script src="@Utility.GetBuildUrl("/Scripts/chosen.jquery.min.js")"></script>
    <script src="@Utility.GetBuildUrl("/Scripts/app.js")"></script>
    @RenderSection("scripts", required: false)

</body>
</html>